.grid.grid-cols-2.md:grid-cols-4.gap-4
  .grid.gap-4
    %div
      %img.h-auto.max-w-full.rounded-lg{:alt => "", :src => "https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg"}/
    %div
      %img.h-auto.max-w-full.rounded-lg{:alt => "", :src => "https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg"}/
    %div
      %img.h-auto.max-w-full.rounded-lg{:alt => "", :src => "https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg"}/
  .grid.gap-4
    %div
      %img.h-auto.max-w-full.rounded-lg{:alt => "", :src => "https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg"}/
    %div
      %img.h-auto.max-w-full.rounded-lg{:alt => "", :src => "https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg"}/
    %div
      %img.h-auto.max-w-full.rounded-lg{:alt => "", :src => "https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg"}/
  .grid.gap-4
    %div
      %img.h-auto.max-w-full.rounded-lg{:alt => "", :src => "https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg"}/
    %div
      %img.h-auto.max-w-full.rounded-lg{:alt => "", :src => "https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg"}/
    %div
      %img.h-auto.max-w-full.rounded-lg{:alt => "", :src => "https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg"}/
  .grid.gap-4
    %div
      %img.h-auto.max-w-full.rounded-lg{:alt => "", :src => "https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg"}/
    %div
      %img.h-auto.max-w-full.rounded-lg{:alt => "", :src => "https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg"}/
    %div
      %img.h-auto.max-w-full.rounded-lg{:alt => "", :src => "https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg"}/
